# Node
node_modules
.pnpm-store

# Python
.venv
__pycache__/
.pytest_cache/
.mypy_cache/
.venv/

apps/desktop
.DS_Store
*.log*
temp
.thumbnails
python/.venv
.results
.env
.faces
analysis_results
*.pt
output-videos
__pycache__
.chroma_db
.locations.json
.venv
test-videos
internal
apps/background-jobs/known_faces.json
.faces.json
*.gguf
models
apps/*/node_modules
packages/*/node_modules
*.mp4
*.mkv
models/yolo/*
