node_modules
dist
out
.DS_Store
*.log
temp
.thumbnails
python/.venv
.results
.env
.faces
analysis_results
*.pt
output-videos
__pycache__
.chroma_db
.chroma_db_*
.locations.json
.venv
apps/web/.react-router
test-videos
internal
apps/background-jobs/known_faces.json
.faces.json
*.gguf
data/
models/
.pnpm-store/*
test-results/*
.env.testing
.env.dev
docker/.env.system
.env.system
